services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: quiz_me
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

